/**
 * Blue: #29b6f6
 * Orange: #ff9800
 */

/**
 * HTML elements 
 */
body {
  background-color: #fcfcfc;
  background-color: #000000;
  color: #ffffff;
}

footer {
  background-color: rgb(20, 20, 20);
  color: white;
  padding: 25px 15px;
}

footer a {
 color: black;
 font-weight: bold;
}

footer p {
  margin: 0;
}

@media (min-width: 576px) {
  .first-col {
    padding-right: 0;
  }
}

.btn-primary {
  color: #fff;
  background-color: #731DD8;
  border-color: #731DD8;
}

/**
 * Components
 */

.card {
  background-color: rgb(20, 20, 20);
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
}

.card .card-title {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border-bottom: 10px solid #731DD8;
  margin-bottom: 1em;
}

.contract-address {
  color: rgb(200, 200, 200);
  font-size: 0.8rem; 
}

.contract-address .address {
  font-family: 'Courier';
}

/**
 * Modules
 */

#app {
  background-color: #000000;
}

#header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
  font-size: 1rem;
}

#new-transfer form {
  margin-bottom: 0;
}

#transfers td:nth-of-type(3) {
  text-overflow: ellipsis;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
}
