/**
 * Blue: #29b6f6
 * Orange: #ff9800
 */

/**
 * HTML elements 
 */
body {
  background-color: #fcfcfc;
  background-color: #000000;
  color: #ffffff;
}

footer {
  background-color: rgb(20, 20, 20);
  color: white;
  padding: 25px 15px;
}

footer a {
 color: black;
 font-weight: bold;
}

footer p {
  margin: 0;
}

/*
 * Utilities
 */
@media (min-width: 576px) {
  .first-col {
    padding-right: 0;
  }
}

.flex {
  display: flex;
}

/*
 * Bootstrap override
 */
.btn-primary {
  color: #fff;
  background-color: #731DD8;
  border-color: #731DD8;
}

.form-control {
  background-color: rgb(40,40,40);
  color: white;
  border: none;
}

.form-control:focus {
  background-color: rgb(40,40,40);
  color: white;
  border: none;
}

.form-control:disabled {
  background-color: rgb(20,20,20);
  color: white;
  border: none;
}

.input-group-append .input-group-text {
  background-color: black;
  border: 1px solid rgb(40,40,40);
  color: white;
}

/**
 * Components
 */

.card {
  background-color: rgb(20, 20, 20);
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
}

.card .card-title {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border-bottom: 10px solid #731DD8;
  margin-bottom: 1em;
}

.contract-address {
  color: rgb(200, 200, 200);
  font-size: 0.8rem; 
}

.contract-address .address {
  font-family: 'Courier';
}

.dropdown .dropdown-toggle {
  background-color: black;
  border: 1px solid rgb(40,40,40);
}

.dropdown .dropdown-toggle:focus{
  box-shadow: none;
}

.dropdown .dropdown-menu {
  background-color: black;
  border: 1px solid rgb(40,40,40);
  color: white;
}

.dropdown .dropdown-menu .dropdown-item {
  color: white;
}

.dropdown .dropdown-menu .dropdown-item.active {
  background-color: #731DD8; 
  color: white;
}

.dropdown .dropdown-menu .dropdown-item:hover{
  background-color: #441282;
  color: white;
}

.dropdown .visible {
  display: block;
}

/**
 * Modules
 */

#app {
  background-color: #000000;
}

#header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 38px;
}

#transfer #direction {
  width: 100%;
}

#transfer #direction button {
  width: 50%;
  background-color: #441282;
  border: 2px solid #441282;
}

#transfer #direction button.active {
  background-color: #731DD8;
}
#transfer #direction button:focus {
  box-shadow: none;
}
